@import "bootstrap-sprockets";
@import "bootstrap";


.container {
  background-color: lightgreen;
  font-size: 14pt;
  font-family: monospace;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}


nav {
  background: red;
  opacity: .5;
  height: 140px;
  color: white;
}

.navbar-header {
  color: white;
  font-size: 30px;
  text-align: center;
}
