<h1><%= @products.name %></h1>


<% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <h4><%=@products.cost %></h4>
  <h4><%=@products.country_of_origin %></h4>
<% end %>
