<h1>Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li><%= link_to review.description, review_path(review) %></li>
  <% end %>
</ul>
<hr>
<%= link_to "New Review", new_review_path %>
<hr>
<%= link_to "Products", products_path %>

<hr>
